<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠峰培训</title>
    <style>
        .bgBox{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
        }
        .contentBox{
            width: 400px;
            height: 400px;
            margin: 40px auto;
            background: #fff;
            text-align: center;
        }
    </style>
</head>
<body>

<div id="app">
    <button @click="fn('年龄')"> 显示年龄弹框</button>
    <button @click="fn('性别')"> 显示性别弹框</button>
    <button @click="fn('姓名')"> 显示姓名弹框</button>
    <my-dialog
            :title="til"
            :type="2"
            @close="close" v-show="flag">
        <!-- type 1 显示 取消按钮；  type 2 显示 确认 和 取消 两个按钮    -->
        <div slot="main">
            <select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <ul>
                <li v-for="i in 3">{{i}} </li>
            </ul>
        </div>
        <!--<div slot="footer">
            <button @click="fn1">确认</button>
            <button @click="fn2">取消</button>
        </div>-->
    </my-dialog>
</div>
</body>
</html>
<template id="myDialog">
    <div class="bgBox">
        <div class="contentBox">
            <h1>{{title || '默认标题'}}</h1>
            <div class="bodyBox">
                <slot name="main"></slot>
            </div>
            <!--<button @click="close">关闭弹框</button>-->
            <!--<slot name="footer" v-if="$slots.footer"></slot>
            <button @click="close" v-else>默认button</button>-->
            <button>取消</button>
            <button v-if="type == 2">确认</button>
        </div>
    </div>
</template>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    Vue.component('div1',{
        template:"<h1>dgdgsgsg</h1>"
    });
    let myDialog = {
        template:"#myDialog",
        props:['title','type'],
        methods:{
            close(){
                this.$emit('close');
                // this.$parent.flag = false;
                // this.$parent.close()
                // let f = this.$parent.close;
                // f.call(window); // 改不动
            }
        },
        created(){
            console.log(this);
        }
    };
    let vm = new Vue({
        el:"#app",
        data:{
            flag:false,
            til:''
        },
        components:{
            myDialog
        },
        methods:{
            fn(til){
                this.flag = true;
                this.til = til;
            },
            close(){
                // console.log(this);
                this.flag = false;
            },
            fn1(){
                alert('fn1')
            },
            fn2(){
                alert('fn2')
            }
        }
    })

</script>  