<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠峰培训</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>

<div id="app">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" v-model="checkAll" @change="checkAllFn">全选</th>
                <th>商品</th>
                <th>商品名称</th>
                <th>商品描述</th>
                <th>单价</th>
                <th>数量</th>
                <th>小计</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(val,i) in ary">
                <td><input type="checkbox" v-model="val.isSelect" @change="checkOneFn(val)"></td>
                <td>
                    <!-- v-bind:src='变量'  专门处理元素的行内属性的 -->
                    <!-- v-bind 简写成  :src='变量' -->
                    <!--<img v-bind:src="val.pic" alt="">-->
                    <img :src="val.pic" :title="val.desc" alt="">
                </td>
                <td>{{val.title}}</td>
                <td>{{val.desc}}</td>
                <!--<td>{{(val.price/100).toFixed(2)}}</td>-->
                <td>{{val.price | money}}</td>
                <!-- 过滤器的用法 使用 | 后边跟一个过滤器 -->
                <td>
                    <input type="text"
                           v-model="val.count"
                           @input="countFn(val)">
                    <!--<input type="number"
                           v-model="val.count">-->
                </td>
                <!--<td>{{(val.count * val.price/100).toFixed(2)}}</td>-->
                <td>{{val.count * val.price | money}}</td>
                <td>
                    <button
                            type="button"
                            class="btn btn-danger"
                            @click="del(i)">
                        删除
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="text-right">
                    <button class="btn btn-danger" @click="clearAll">清空购物车</button>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="text-right">
                    <!-- 总价的计算 所有被选中的商品的 数量*单价 之和 -->
                    <h2>总价：{{total() | money}}</h2>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script src="../node_modules/axios/dist/axios.js"></script>
<script>
    axios.interceptors.response.use((res)=>{
        return res.data
    },(err)=>{
        return Promise.reject(err)
    });

    //全局过滤器
    Vue.filter('upper',function (val) {
        return val.toUpperCase();
    });
    Vue.filter('lower',function (val) {
        return val.toLowerCase()
    });
    let vm = new Vue({
        el:"#app",
        data:{
            ary:[],
            name:'',
            checkAll:''
        },
        created(){
            // 简单理解成实例被创建的时候
            // console.log(this); this 是指向当前这个实例的
            this.getData();
        },
        updated(){
            //DOM更新时触发
            // this.checkOneFn();
        },
        methods:{
            getData(){
                axios.get('./data.json').then((data)=>{
                    console.log(data);
                    this.ary = data || [];
                    this.checkOneFn();
                }).catch((err)=>{
                    console.log(err)
                })
            },
            del(n){
                // 删除对应商品
                // this.ary.splice(n,1);
                this.ary = this.ary.filter((item,index)=>{
                    return index !== n
                })
            },
            total(){
                // console.log(22222)
                // 求商品总价
                // ary.reduce((prev,next)=>{return prev + next})
                if(this.ary.length == 0) return 0;
                // let t = this.ary.reduce((prev,next)=>{
                //     if(typeof prev === 'number'){
                //         return prev + next.count*next.price
                //     }
                //     // debugger;
                //    return prev.count*prev.price + next.count*next.price
                // });
                let t2 = this.ary.reduce((p,n)=>{
                    // debugger
                    if(n.isSelect){
                        // 如果 n 是被选中的商品；则需要把他的小计加上
                        return p + n.count*n.price
                    }else {
                        // 否则 不加小计 直接返回上次的计算结果
                        return p;
                    }

                },0);
                return t2
            },
            clearAll(){
                this.ary = [];
            },
            countFn(item){
                // console.log(item);
                let str = item.count;
                str = str.replace(/\D+/g,'');
                item.count = str;
            },
            checkAllFn(){
                console.log(this.checkAll);
                //根据 this.checkAll 来决定下边的input的选中状态
                // 下边这些input 的选中状态是由 数组每一项的 isSelect 控制的
                // if(this.checkAll){
                //     this.ary.forEach(item=>item.isSelect = true)
                // }else{
                //     this.ary.forEach(item=>item.isSelect = false)
                // }
                this.ary.forEach(item=>item.isSelect = this.checkAll)
            },
            checkOneFn(item){
                // item 是点击行的所有数据；咱们是要根据 item.isSelect 控制全选按钮是否选中
                // 以上的操作只有在isSelect 是 false时可用；true 时；以上逻辑不成立
                // 我们是要根据所有的isSelect 来控制全选按钮
                // 只有所有的isSelect都是true时，才让 全选按钮时选中状态；
                this.checkAll = this.ary.every((item)=>{
                    return item.isSelect
                })
            }
        },
        filters:{
            // 过滤器
            money(val){
                // 创造一个过滤器
                // console.log(arguments)
                // val 就是 管道符前边的那个值
                // return 'qqq'  过滤器使用的位置的值 是由 过滤器的返回值决定的
                return "￥"+(val/100).toFixed(2);
            }
        }
    })
</script>  